<a href="https://colab.research.google.com/github/hjiwoong/Python/blob/main/08_%ED%8A%9C%ED%94%8C%EA%B3%BC_%EC%A7%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 튜플 tuple :

* (a, b) 또는 괄호 없이 콤마로 구분
* 파이썬 내부 동작에서 주로 사용, 쉼표를 튜플 생성자로 사용하니 괄호는 생략 가능
* (a, ) 하나의 요소만 갖는 튜플 선언시 요소 뒤에 콤마
* 리스트와 비슷하지만 튜플은 값의 수정 불가능, 불변
* 튜플 자체는 수정이 불가능하지만, 원소로 수정 가능한 리스트나 딕셔너리를 담는 것은 가능

In [1]:
nums = (1,2,3,4)
print(nums)

(1, 2, 3, 4)

In [2]:
nums=1,2,3,4
print(nums)

(1, 2, 3, 4)

In [3]:
nums=(1, )
print(nums)

(1,)

In [4]:
words='apple', 'banana', 'grape'
print(type(words))
print(words)

<class 'tuple'>
('apple', 'banana', 'grape')

In [5]:
nums=(10,20,30)
print(nums[0]) #인덱싱
print(nums[1:]) #슬라이싱

10
(20, 30)

In [15]:
nums = (5,7,4)
print(len(nums))
print(sum(nums))
print(max(nums))
print(min(nums))
print(sorted(nums))
print(nums + nums)
print(nums*3)

3
16
7
4
[4, 5, 7]
(5, 7, 4, 5, 7, 4)
(5, 7, 4, 5, 7, 4, 5, 7, 4)

In [18]:
nums = (10,20,30)
#nums[0]=15 #값의 수정 X
#nums.append(40) #값의 추가 X

In [19]:
nums = (5,7,4)
nums+=(3, )
print(nums)

(5, 7, 4, 3)

### 딕셔너리 dictionary, dict
* {'키 key' : 값 value}
* non sequence type 순서가 없다
* key는 변경 불가능한 자료형만 사용 가능, 키key에서는 리스트, 딕셔너리, 집합은 사용 불가
* 딕셔너리의 값(Value)에는 무엇이든 올 수 있다
* 값 접근 mydic[’key’]
* 내장함수: keys(), values(), items(), get(), pop()

In [20]:
#딕셔너리 생성
name_price={}
name_price=dict()
name_price={'apple':1000, 'banana':2000, 'grape':3000}
name_price=dict(apple=1000, banana=2000, grape=3000)
print(name_price['apple'])

1000

In [27]:
#arr_sum={[1,2]:3} #key는 리스트를 사용하지 못함
arr_num={(1,2):3} #key는 튜플을 사용 가능

In [24]:
name_price1={'apple':3000, 'grape':5000}
name_price2={'grape':5000, 'apple':3000}
print(name_price1 == name_price2) #딕셔너리는 순서가 없다.

True

In [28]:
d=dict()
d['apple']=3000
print(d)

{'apple': 3000}

In [29]:
d={'apple':3000}
d['apple']=5000
print(d['apple'])

5000

In [31]:
#print(d['banana']) #해당 키가 없으면 키 에러

In [50]:
print('apple'in d)
print('banana'in d)

True
False

In [49]:
name_price={'apple':1000, 'banana':2000, 'grape':3000}
print(len(name_price))

3

In [48]:
for k in name_price:
  print(k)

banana
grape

In [47]:
for k in name_price:
  print(name_price[k])

2000
3000

In [46]:
for k in name_price:
  print(k, name_price[k])

banana 2000
grape 3000

In [45]:
print(name_price.keys()) #딕셔너리의 모든 키
print(name_price.values()) #딕셔너리의 모든 값
print(name_price.items()) #딕셔너리의 모든 키:값

dict_keys(['banana', 'grape'])
dict_values([2000, 3000])
dict_items([('banana', 2000), ('grape', 3000)])

In [44]:
#get() 딕셔너리에서 주어진 키의 값을 결과로 준다
print(name_price.get('apple'))
print(name_price.get('ornage')) #해당 키가 없으면 None
print(name_price.get('ornage',0)) #해당 키가 없으면 두번째 입력값 출력

None
None
0

In [51]:
print(name_price.pop('apple'))
print(name_price)

1000
{'banana': 2000, 'grape': 3000}

In [53]:
name_age={'kim':20, 'lee':30}
for k,v in name_age.items():
  print(f'{k}:{v}')

kim:20
lee:30

In [54]:
print(name_age.get('kim'))
print(name_age.get('park',-1))

20
-1

In [55]:
print(name_age.pop('kim'))
print(name_age)

20
{'lee': 30}

### 집합 set
* 집합의 원소는 반드시 '값이 변하지 않는(Hashable)' 상태여야 한다. 리스트나 딕셔너리는 언제든 값이 바뀔 수 있기 때문에 집합의 원소가 될 수 없다
* 중복되지 않은 요소들로 구성된 자료형
* 집합내의 모든 요소들은 순서가 없다
* 인덱싱이나 슬라이싱으로 집합 내의 요소에 접근할수 없다
* set1 = {1,2,3}
* set1 = {} 는 딕셔너리로 인식
* set2 = set()
* 연산자 : | 합집합, & 교집합, - 차집합, ^ 대칭 차집합(합집합에서 교집합을 뺀 집합)
* 내장함수 : add(), remove(), update()

In [57]:
nums={1,1,1,1,1,1}
print(nums)
print(len(nums))

{1}
1

In [59]:
nums={1,2,3}
#print(nums[1]) #집합은 인덱싱, 슬라이싱으로 요소에 접근할 수 없다.

In [72]:
set1={1,2,3,4,5}
set2={4,5,6}
print(set1 | set2) #합집합
print(set1 & set2) #교집합
print(set1 - set2) #차집합
print(set1 ^ set2) #대칭 차집합
print(1 in set1)
print(len(set1))
print({1,2} in set1) #{{1,2},3,4,5} set1집합 안에 {1,2}이 원소로 들어가 있지 않기 때문에 False

{1, 2, 3, 4, 5, 6}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6}
True
5
False

In [73]:
#add() : 집합에 원소 추가, 이미 있는 경우 추가 안됨
nums={1,2,3}
nums.add(4)
print(nums)
nums.add(2)
print(nums)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [74]:
#remove() : 원소 제거, 집합에 없으면 에러
nums.remove(2)
print(nums)

{1, 3, 4}

In [78]:
# nums.remove(5) #집합에 없는 원소를 삭제를 시도할 때 에러

In [80]:
#discard() : 원소 제거, 집합에 없어도 에러 발생하지 않음
nums.discard(4)
print(nums)
nums.discard(5)
print(nums)

{1, 3}
{1, 3}

In [81]:
#update() : 여러개의 원소를 한번에 추가, 입력의 자료형은 리스트, 튜플, 집합 등 사용 가능
nums.update([1,2,4])
print(nums)

{1, 2, 3, 4}

In [85]:
#print(nums[3])
#print(nums[:3]) #집합은 인덱싱, 슬라이싱 불가

### None : 값이 없는 상태를 나타내는 자료형
### complex 복소수 complex number 자료형: 실수부 + 허수부j, complex(실수부, 허수부)
### bytes : 주로 네트워크 통신, 파일 입출력(이미지, 실행 파일), 암호화 등 바이너리 데이터를 다룰 때 사용, 변경 불가능(Immutable) 한 번 생성하면 내부 값을 바꿀 수 없다, 0부터 255 사이의 정수(8비트)만 원소로 가질수 있다, b'   ' 형태로 사용.

In [86]:
#None 자료형
a=None
print(a)
print(type(a))

None
<class 'NoneType'>

In [89]:
if a: #None은 False
  print(a)

In [90]:
if a is not None:
  print(a)

In [93]:
#complex 복소수 자료형
c1=3+4j
c2=complex(3,4)
print(c1)
print(type(c1))
print(c2)
print(type(c2))

(3+4j)
<class 'complex'>
(3+4j)
<class 'complex'>

In [94]:
print(c1+c2) #실수부는 실수부끼리, 허수부는 허수부끼리 계산
print(c1-c2) #복소수 0은 0j 또는 complex()로 나타낸다

(6+8j)
0j

In [95]:
#bytes 자료형
name= b'Happy' #아스키 코드 값
print(name[0])
print(name[0:2])

72
b'Ha'

In [98]:
#문자열을 바이트로 바꿀 때
b=bytes('Hello',encoding='utf-8') #윈도우 한국어 기본값 encoding='cp949'
print(b)
print(type(b))

b'Hello'
<class 'bytes'>

In [104]:
#한글의 경우
b_ko=bytes('안녕',encoding='utf-8')
print(b_ko)
print(type(b_ko))

b'\xec\x95\x88\xeb\x85\x95'
<class 'bytes'>

### 데이터 타입

* numeric type: int, float, complex

* sequence type: list, tuple, range

* text sequence type: str

* set types: set

* mapping types: dict

* 기타: none, boolean, functions

### 파이썬의 자료형은 데이터의 값을 생성 후 변경할 수 있는 지에 따라 '가변(Mutable)'과 '불변(immutable)'으로 나뉜다.
### 불변(immutable)
* int, float, bool, str, tuple
* 만약 값을 바꾸어야 한다면 기존 객체가 변하는 것이 아니라 새로운 값을 가진 객체가 생성되고 변수가 그 새 객체를 가리키게 된다.
* 데이터가 안전하게 보호되며 딕셔너리의 key로 사용할 수 있다.
* 값 변경이 불가능, 새 객체 생성
* 값이 바뀌면 메모리 주소도 바뀐다
* 상수, 딕셔너리 키에서 사용
* 값의 변화가 예측 가능, 안전성 높다
### 가변(mutable)
* list, dict, set
* 객체가 생성된 후에도 내부의 값을 자유롭게 변경 할 수 있는 자료형. 새로운 객체를 만들지 않고 기존 메모리 주소에서 값만 바뀐다.
* 데이터의 추가, 삭제, 수정이 빈번한 경우 효율적이지만, 여러 변수가 동시에 참조할 때 예상치 못한 부작용이 발생할 수 있다.
* 값 변경 가능, 기존 객체 수정
* 값이 바뀌어도 메모리 주소는 그대로
* 데이터 모음, 동적 리스트에서 사용
* 참조 공유 시 주의 필요, 안전성 낮다

In [105]:
# 1.불변 객체(immutable) 예제
a=10
b=a
a=a+5
print(a)
print(b)

# 2.가변 객체(mutable) 예제
list_a=[1,2,3]
list_b=list_a
list_a.append(4)
print(list_a)
print(list_b)

15
10
[1, 2, 3, 4]
[1, 2, 3, 4]